body {
    width: 960px;
    margin: 0px auto;}
#content {
        overflow: auto;
        height: 100%;}
#nav, #feature, #footer {
        background-color: #efefef;
        padding: 10px;
        margin: 10px;}
.column1, .column2, .column3 {
        background-color: #efefef;
        width: 300px;
        float: left;
        margin: 10px;}
li {
        display: inline;
        padding: 5px;}
.btn-grup .button{
        background-color: green;
        border: 2px;
        color: purple;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        float: none;
        border-radius: 5px;}

.btn-grup .button:hover{
        background-color: green;
}